<div class="jumbotron text-center">
  <h1 class="display-3">{{Welcome}}</h1>
  <p class="lead">Jot down ideas for your next projects</p>
  <a href="/ideas/add" class="btn btn-dark btn-lg">Add Project Idea Idea</a>
</div>